@font-face {
    font-family: 'JetBrainsMono';
    src: url('/econovo_workorder_labels/static/src/fonts/JetBrainsMono-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('/econovo_workorder_labels/static/src/fonts/PlusJakartaSans-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('/econovo_workorder_labels/static/src/fonts/PlusJakartaSans-VariableItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('/econovo_workorder_labels/static/src/fonts/DejaVuSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('/econovo_workorder_labels/static/src/fonts/DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}